<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>DataClub</title>
</head>
<body>
    <div id="header">
        <h1>DataClub</h1>
        <h3>data driven aplications</h3>
        <hr>
    </div>
    {% block body %}
        
    {% endblock body %}
        
</body>
</html>