#header {
    text-align: center;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h1.header-element {
    margin-bottom: 8px;
}

h3.header-element {
   margin-top: 0; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(241, 241, 241);
}

hr {
    margin: 0;
}
#navi {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%;
}